model:
    img_size: 224
    patch_size: 16
    dim: 384
    depth: 8
    num_heads: 8
    dropout_rate: 0.1
trainer:
    batch_size: 32
    learning_rate: 0.0002
    weight_decay: 0.05
    epochs: 50
    seed: 42
    checkpoint_dir: checkpoints
    precision: float32
    wandb: True
    wandb_group: "group_name"
    wandb_tags:
        - "tag1"
        - "tag2"
